言語処理100本ノック用ノートブック
必要なライブラリは追加する

In [5]:
#00.文字列の逆順
str = "stressed"
str_list = list(reversed(str))
ans = ''.join(str_list)
ans

#スライスで逆順に取得
ans2 = str[::-1]
ans2

'desserts'

In [7]:
#01. パタトクカシー
str = "パタトクカシーー"
ans = str[::2]
ans

'パトカー'

In [11]:
#02.「パトカー」＋「タクシー」＝「パタトクカシーー」
s = "パトカー"
t = "タクシー"
ans = ''.join([s[i] + t[i] for i in range(len(s))])
ans

'パタトクカシーー'

In [16]:
#03.円周率
str = 'Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics.'
import re
new_str = re.sub('[,\.]', '', str)
word_list = new_str.split()
ans = [len(i) for i in word_list]
ans

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9]

In [24]:
#04.元素記号
text = 'Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can.'
new_text = re.sub('[,\.]', '', text)
word_list = new_text.split()
l = [1, 5, 6, 7, 8, 9, 15, 16, 19]
ans = {}
for i, word in enumerate(word_list):
    if i+1 in l:
        ans[word[:1]] = i+1
    else:
        ans[word[:2]] = i+1
ans

{'H': 1,
 'He': 2,
 'Li': 3,
 'Be': 4,
 'B': 5,
 'C': 6,
 'N': 7,
 'O': 8,
 'F': 9,
 'Ne': 10,
 'Na': 11,
 'Mi': 12,
 'Al': 13,
 'Si': 14,
 'P': 15,
 'S': 16,
 'Cl': 17,
 'Ar': 18,
 'K': 19,
 'Ca': 20}

In [26]:
#05.n-gram
def n_gram(str, n):
    res = [str[i:i+n] for i in range(len(str)-n+1)]
    return res
s = 'I am an NLPer'
word_list = s.split()
#単語bi-gram
ans1 = n_gram(word_list, 2)
ans1
#文字bi-gram
ans2 = n_gram(s, 2)
ans2

['I ', ' a', 'am', 'm ', ' a', 'an', 'n ', ' N', 'NL', 'LP', 'Pe', 'er']

In [33]:
#06.集合
s = 'paraparaparadise'
t = 'paragraph'
X = set(n_gram(s, 2))
Y = set(n_gram(t, 2))
#X
Y
#和集合
ans1 = X | Y
ans1
#積集合
ans2 = X & Y
ans2
#差集合
ans3 = X - Y
ans3

{'ad', 'di', 'is', 'se'}

In [34]:
#07.テンプレートによる文生成
def temp(x, y, z):
    return f'{x}時の{y}は{z}'

ans = temp(12, '気温', 22.4)
ans

'12時の気温は22.4'

In [40]:
#08.暗号文
def cipher(str):
    return ''.join([chr(219 - ord(s)) if s.islower() else s for s in str])

ans = '12qw34er he56llo'
cipher(ans)

'12jd34vi sv56ool'

In [45]:
#09.Typoglycemia
import random
def typoglycemia(str):
    if len(str) > 4:
        top_c = str[0]
        back_c = str[-1]
        text = str[1:-1]
        text = ''.join(random.sample(text, len(text)))
        return top_c + text + back_c
    else:
        return str

str = 'I couldn’t believe that I could actually understand what I was reading : the phenomenal power of the human mind .'
word_list = str.split()
ans = ' '.join([typoglycemia(word) for word in word_list])
ans

'I clou’dnt bvlieee that I colud altcualy uednsntrad what I was rinaedg : the pnoeahenml peowr of the hamun mind .'

In [ ]:
#第二章準備
f = open('./work/popularnames.txt', 'r')
data = f.read()
data

In [54]:
#10. 行数カウント
import pandas as pd
df = pd.read_table("https://nlp100.github.io/data/popular-names.txt", header=None)
len(df)
df
#UNIXコマンド
# wc -l /work/popularnames.txt

              0  1      2     3
0          Mary  F   7065  1880
1          Anna  F   2604  1880
2          Emma  F   2003  1880
3     Elizabeth  F   1939  1880
4        Minnie  F   1746  1880
...         ... ..    ...   ...
2775   Benjamin  M  13381  2018
2776     Elijah  M  12886  2018
2777      Lucas  M  12585  2018
2778      Mason  M  12435  2018
2779      Logan  M  12352  2018

[2780 rows x 4 columns]

In [57]:
#11.タブをスペースに置換
type(data)
data.replace('\t', ' ')

#UNIXコマンド
!sed -e 's/\t/ /g' ./work/popularnames.txt | head -n 5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
sed: couldn't write 17 items to stdout: Broken pipe